* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* add Todo Section */
.addTodoSection{
  padding: 1.5rem;
  background: #faf9f8;
}

.addTodoSection .heading{
  padding-bottom: 1.8rem;
  text-align: center;
  color: #000;
}

.addTodoSection .task_inp, .addTodoSection .time_inp{
  margin-bottom: .8rem;
  background-color: #faf9f8 !important;
}

input {
  background-color: #faf9f8 !important;
  color: #000 !important;
}